.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App-header h1 {
  width: 200px;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  margin: 25px;
}

.grumpy {
  width: 100px;
  height: 100px;
}